
<h1>В корзине</h1>

<b><%= link_to 'Перейти в каталог', '/' %></b>

<table>
  <tr>
    <th>Название товара</th>
    <th>Производитель</th>
    <th></th>
    <th>Цена</th>

	</tr>

<% @products.each do |product| %>
  <tr>
    <td><%= link_to product.name, product %></td>
    <td><%= product.vendor %></td>
    <td>  <%= image_tag product.picture, :height => 50 %></td>
    <td><%= product.price %></td>
    <td><%= link_to 'Удалить', remove_product_path(product.cr), data: { confirm: 'Точно?' } %></td>
    <td><%= link_to '	Подробнее', product %></td>

  </tr>
<% end %>
</table>

<br />

