<h1>Список товаров</h1>

<table>
  <tr>
    <th>Название товара</th>
    <th>Производитель</th>
    <th></th>
    <th>Цена</th>

	</tr>

<% @products.each do |product| %>
  <tr>
    <td><%= link_to product.name, product %></td>
    <td><%= product.vendor %></td>
    <td>  <%= image_tag product.picture, :height => 50 %></td>
    <td><%= product.price %></td>
    <td><%= link_to 'Купить', product %></td>
    <td><%= link_to '	Подробнее', product %></td>

  </tr>
<% end %>
</table>

<br />

<%= link_to 'Новый товар', new_product_path %>
