<p id="notice"><%= notice %></p>

<p>
  <b>Url:</b>
  <%= @product.url %>
</p>

<p>
  <b>Picture:</b>
  <%= @product.picture %>
</p>

<p>
  <b>Price:</b>
  <%= @product.price %>
</p>

<p>
  <b>Categoryid:</b>
  <%= @product.categoryid %>
</p>

<p>
  <b>Name:</b>
  <%= @product.name %>
</p>

<p>
  <b>Vendor:</b>
  <%= @product.vendor %>
</p>

<p>
  <b>Description:</b>
  <%= @product.description %>
</p>


<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
