
<p id="notice"><%= notice %></p>

<p>
  <b>Ссылка:</b>
  <%= @product.url %>
</p>

<p>
  <b>Картинка:</b>
  <%= image_tag @product.picture, :height => 300 %>

</p>

<p>
  <b>Цена:</b>
  <%= @product.price %>
</p>

<p>
  <b>ИД_Категории:</b>
  <%= @product.categoryid %>
</p>

<p>
  <b>Название:</b>
  <%= @product.name %>
</p>

<p>
  <b>Производитель:</b>
  <%= @product.vendor %>
</p>

<p>
  <b>Описание:</b>
  <%= @product.description %>
</p>


<%= link_to 'Редактировать', edit_product_path(@product) %> |
<%= link_to 'Назад', products_path %>
